.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;

  article {
    z-index: 9999;
    position: absolute;
    top: 10px;
    left: 10px;
    color: $main-c;
    font-size: 45px;
    cursor: pointer;
  }
  
  .overlay {
    position: absolute;
    z-index: 1;
    bottom: 99%;
    height: 100%;
    background: $secon-c;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;


    &.anim {
      left: 0;
      bottom: 0;
      animation: menu-anim 1.5s 1 ease-out normal;
      width: 18%;
      transition: all 0.5s ease;
      background: $atitude;

      &.reverse-anim {
        left: 0;
        bottom: 0;
        animation: menu-anim 1.5s 1 ease-out reverse;
        width: 18%;
        transition: all 0.5s ease;
        background: $atitude;
      }
    }

    h2{
      text-align: center;
      font-family: $secon-f;
      font-size: 20px;
      color: $main-c;
      position: relative;
      top: 80px;
      right: 2px;
    }

    ul {
      width: 100%;
      text-align: center;
      margin-top: 100px;
      padding-left: 0;
      margin-left: -10px;
      font-size: 50px;
      font-weight: 800;

      li {
        margin: 10px 0;

        a {
          text-decoration: none;
          color: $main-c;
          position: relative;
          display: inline-block;
          padding: 10px 0;
          overflow: hidden;

          &:after {
            display: block;
            border-radius: 2px;
            content: ''; 
            left: 0;
            bottom: -10px;
            height: 5px;
            background: $main-c;
            transform: translateX(-101%);
          }

          &:hover {
            text-decoration: none;

            &:after {
              animation: border-anim 0.5s 1 ease normal;
              transform: translateX(0);
            }
          }
        }

        @-webkit-keyframes border-anim {
          0% {
            transform: translateX(-100%);
          }

          100% {
            transform: translateX(0);
          }
        }

      }
    }
  }

  @-webkit-keyframes menu-anim {

    0% {
      left: 0;
      top: -99%;
      width: 100%;
    }

    33% {
      left: -99.5%;
      top: -99%;
      width: 100%;
    }

    66% {
      left: -99.5%;
      top: 0;
      width: 100%;
    }

    100% {
      top: 0;
      left: 0;
      width: 18%;
    }
  }
}